<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amie Collins Design &amp; Development</title>
    <link rel="stylesheet" href="https://use.typekit.net/xmw8oyh.css">
    <link rel="stylesheet" type="text/css" href="../../styles/css/main.css">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=171981726146321&autoLogAppEvents=1"></script>

</head>
<body>
     <main>
         
            {{{ body }}}
    </main>
    <script src="js/dynamic-content.js"></script>
</body>