footer {
    width: 100%;
    height: 300px;
    background-position: center;
}

.footer-nav {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-media-links-footer {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}