@import "_fonts.scss";

.top-bar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.tree-bar {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 840px 70px;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    background-color: rgba(55,55,55,0.65);
    border-bottom: 20px solid black;
}

.white-bar {
    height: 15px;
    margin-top: 75px;
}

.tagline {
    height: 15px;
    width: auto;
}

.logo-mid {
    height: 20px;
    width: 105px;
    margin-left: 20%;
    margin-left: 20%;
    margin-top: 60px;
}

.burger-icon {
    width: 40px;
    height: 40px;
    margin-right: 20%;
}

.logo-bot {
    width: 78px;
    height: 14px;
    margin-left: 20%;
}

.header-nav {
    display: none;
}

.white-bar {
    background-color: #FFF;
    height: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

// tablet
@media screen and (min-width: 600px) {
    
}

// desktop
@media screen and (min-width: 900px) {
    .burger-icon {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}
