@import "_fonts.scss";

.main-hero {
    width: 100%;
    height: 410px;
    background-position: center;
    background-size: cover;
    display: flex;
}

.welcome-title-bg {
    margin-bottom: 40px;
    margin: 40px;
    overflow: auto;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    overflow: hidden;
    font-family: $header-font;
    size: 60px;
    text-align: center;
}

.home-text {
    font-family: $main-font;
    size: 50px;
}

.hero-logo {
    height: 27px;
    width: auto;
    margin-bottom: -3px;
    margin-left: 10px;
}

.qualities {
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.qualities-title {
    font-family: $header-font;
    size: 36px;
    line-height: 44px;
    text-align: center;
}

.photo-trio {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.photo-container {
    display: flex;
    flex-direction: column;
    width: 370px;
    overflow: hidden;
    align-items: center;
}

.quality-photo {
    height: 350px;
    background-position: center;
    background-size: cover;
    width: 350px;
    filter: grayscale(100%);
    filter: blur(0.5rem);
    transition: ease-in 2s;
    position: absolute;
}

.quality-photo:hover {
    filter: grayscale(0%);
    filter: blur(0);
    transition: ease-in 2s;
}

.photo-top {
    width: 100%;
    border: 10px black solid;
    height: 350px;
    width: 350px;
}

.quality-desc {
    width: 350px;
    font-family: $header-font;
    size: 35px;
    line-height: 45px;
    margin: auto 0 px;
    text-align: center;
    vertical-align: middle;
}

.photo-title {
    font-family: $cursive-font;
    border: 0px 10px 10px 10px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    size: 100px;
    height: 100px;
    width: 350px;
}


// tablet
@media screen and (min-width: 600px) {
    .welcome-title-bg {
        width: 80%;
    }

    .qualities {
        padding: 50px;
    }

    .photo-trio {
        flex-direction: row;
        padding: 15px;
    }

    .quality-photo {
        min-width: 200px;
        height: auto;
    }

    .photo-top {
        min-width: 200px;
        height: auto;
    }

    .quality-desc {
        margin: 15px;
        height: 100%;
    }

    .photo-title {
        height: 80px;
        line-height: 80px;
        size: 38px; 
        min-width: 200px;
    }

    .photo-container {
        min-width: 200px;
        overflow: hidden;
    }

}

// desktop
@media screen and (min-width: 900px) {
    .welcome-title-bg {
        height: 150px;
    }

    .photo-trio {
        margin: 15px;
    }

}
