@import "_fonts.scss";

.intro-hero {
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.me-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid black;
    padding: 5px;
    margin: 15px;
}

.intro-bg {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.intro-title {
    font-family: $header-font;
    size: 40px;
    line-height: 48px;
    margin-left: 10px;
    margin-right: 10px;
}

.intro-text {
    font-family: $main-font;
    size: 30px;
    line-height: 22px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.learn-more {
    text-decoration: underline;
}

.learn-more:hover {
    text-decoration: none;
    transition: ease-in 0.2s;
}

.quotes {
    width: 80%;
    padding: 30px 10%;
    text-align: center;
}

.quote-content {
    font-family: $cursive-font;
    size: 36px;
    line-height: 43px;
}

.quote-attribution {
    font-family: $header-font;
    size: 36px;
    line-height: 43px;
}


// tablet
@media screen and (min-width: 600px) {
    .intro-hero {
        height: 550px;
        flex-direction: row;
    }
}

// desktop
@media screen and (min-width: 900px) {
    .intro-hero {
        height: 300px;
    }

    .intro-title {
        size: 28px;
        line-height: 36px;
    }
    
    .intro-text {
        size: 27px;
        line-height: 32px;
    }
}
