@import "_fonts.scss";

.projects {
    width: 100%;
}

.projects-hero {
    background-position: center;
    background-size: cover;
    min-height: 560px;
    width: 90%;
    padding: 40px 5%;
}

.projects-title-bg {
    width: 80%;
    font-family: $header-font;
    size: 36px;
    line-height: 43px;
    height: 50px;
    margin: 0px auto 40px auto;
    text-align: center;
}

.projects-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.project-icon {
    size: 45px;
    text-align: center;
    vertical-align: center;
    line-height: 30px;
    min-height: 100px;
    flex: 1 1 100px;
    max-height: 300px;
    max-width: 300px;
    margin: 20px;
    font-family: $main-font;
    transition: ease-in 0.5s;
    background-color: rgba(102,102,102, 1);
}

.project-icon-title {
    margin: auto 0;
}

.project-icon:hover {
    flex: 2 2 300px;
    min-height: 300px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 5px;
    font-weight: 400;
    padding: 15px;
    box-shadow: 2px 10px #000;
    background-color: rgba(52,52,52, 0.8);
}

.projects-display {
    padding: 10px 20px;
}

.project-title {
    font-family: $header-font;
    size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.project-desc {
    size: 29px;
    line-height: 35px;
    font-family: $main-font;
    width: 100%;
    margin-bottom: 15px;
}

.project-link-container {
    background-color: #000;
    padding: 3px;
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


.project-link {
    font-family: $cursive-font;
    font-size: 80px;
    line-height: 54px;
    color: #FFF;
}

.project-main-photo {
    width: 100%;
    padding: 15px 0px;
    height: auto;
}

.project-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slideshow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-photos-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 0 auto;
}

.project-photos-viewer {
    padding: 10px;
    height: 1000px;
    margin: 0 auto;
}

.image {
    padding: 10px;
    min-height: 280px;
    flex: 1 1 280px;
}

.left {
    align-items: flex-start;
    justify-content: flex-start;
}

.center {
    align-items: center;
    justify-content: center;
}

.right {
    align-items: flex-end;
    justify-content: flex-end;
}

.left-arrow {
    width: 70px;
    height: 100px;
    transform: rotate(90deg);
    margin: 0 auto;
}

.left-arrow:hover {
    opacity: 0.8;
}

.right-arrow {
    width: 70px;
    height: 100px;
    transform: rotate(90deg);
    margin: 0 auto;
}

.right-arrow:hover {
    opacity: 0.8;
}


// tablet
@media screen and (min-width: 600px) {
        
    .slideshow {
        height: 200px;
        width: 100%;
        flex-direction: row;
    }

    .project_photos_container {
        flex-direction: row;
        height: 200px;
    }

    .right-arrow {
        transform: rotate(0deg);
        margin: auto 0;
    }

    .left-arrow {
        transform: rotate(0deg);
        margin: auto 0; 
    }
        
}

// desktop
@media screen and (min-width: 900px) {
    .project-icon {
        font-size: 40px;
        line-height: 48px;
    }
}